html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  display: flexbox;
}
body {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.panel {
  display: flex;
  background-color: rgb(247, 242, 242);
  border-radius: 20px;
  min-width: 540px;
  max-height: 100vh;
}
.first-base {
  background-color: rgba(15, 15, 146, 0.89);
  color: rgba(245, 242, 242, 0.651);
  border-radius: 20px;
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.second-base {
  padding: 20px 20px;
  width: 100%;
  display: inline;
}
#large-icon {
  width: 125px;
  height: 125px;
  background-color: rgba(7, 7, 99, 0.89);
  border-radius: 50%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.num {
  font-size: 55px;
  font-weight: bold;
  color: white;
}
.s-num {
  font-size: small;
  color: rgba(245, 242, 242, 0.555);
}
.great {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}
.initial-last {
  font-size: small;
  line-height: 1.25;
  margin-bottom: 10px;
}
.summary {
  font-weight: bold;
  margin-top: 10px;
}
#container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#container div {
  margin: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
